.mainHeader {
  width: 100%;
  background-color: #d8b4fe;
  height: 4.5rem;
}

.mainHeader nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mainHeader nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.mainHeader li {
  margin: 0 1rem;
}

.mainHeader nav li:nth-child(2) {
  position: relative;
}

.mainHeader a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
  font-size: 1.1rem;
  color: #222;
}

.mainHeader a:hover {
  color: #9333ea;
  background-color: #fff;
  border-radius: 5px;
}

.mainHeader a:active{
   background-color: #fff;
}

.lengthProductInCart {
  color: #6d28d9;
  background-color: #fff;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  top: -13px;
  right: -10px;
  font-weight: bold;
}
