.App {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #f6f6f6;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #fff;
  row-gap: 5rem;
  column-gap: 5rem;
  max-width: 1170px;
  width: 90vw;
  margin-top: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product .productImage {
  width: 100%;
  position: relative;
}

.product .productImage img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product .discountTag {
  position: absolute;
  padding: 15px;
  top: -5px;
  right: -5px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.product:hover .discountTag {
  animation: discount 1s infinite;
}

.container {
  display: flex;
  justify-content: center;
}

.product .productDesc {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productDesc .nameProduct {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #6d28d9;
}

.productDesc .pricesProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pricesProduct del {
  color: red;
}

.pricesProduct ins {
  text-decoration: none;
  font-size: 1.4rem;
  color: #6d28d9;
}

.product .btn {
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.product .primary {
  background-color: #6d28d9;
  color: #fff;
  width: 100%;
  font-size: 1rem;
}

.goToCart {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

@keyframes discount {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
